<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  
  <title>$PAGETITLE</title>
  
  <base href="../../" > <!-- currently frontend/ -->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <link rel="icon" type="image/png" href="./assets/favicon.ico" sizes="16x16">
  
  <link rel="stylesheet" type="text/css" href="./assets/brand-palette.css">
  <link rel="stylesheet" type="text/css" href="./components/css/page-skeleton.css">
  <!-- Include CSS for all other components loaded on this page -->
  
  
</head>

<body>
  <header id="page-header">
    <button id="show-navigation"><i class="fa fa-bars"></i></button>
    <div id="logo-wrapper">
      <a id="logo-wrapper-overlay" href="./"></a>
      <object id="logo" type="image/svg+xml" data="./assets/logo.svg" alt="ToolPool"></object>
    </div>
    <form id="header-listing-search">
      <i class="fa fa-search"></i>
      <input type="search" name="listing-search" placeholder="Search listings...">
    </form>
  </header>
  
  <nav id="navigation" class="hidden">
    <div id="nav-items">
      <a class="nav-link" href="./listings/"><i class="fa fa-fw fa-map"></i> Search Listings</a>
      <a class="nav-link" href="./saved-listings/"><i class="fa fa-fw fa-bookmark"></i> Saved Listings</a>
      <a class="nav-link" href="./edit-listing/new"><i class="fa fa-fw fa-pencil"></i> New Listing</a>
      <a class="nav-link" href="./account/$USERNAME"><i class="fa fa-fw fa-id-card"></i> My Account</a>
    </div>
  </nav>
  
  <div id="navigation-underlay" class="hidden">
    <!-- This section intentionally left blank -->
  </div>
  
  <main></main>
  
  <footer id="page-footer"></footer>
</body>


</html>
